@using SATI.Models
@model SATI.Areas.Admin.Models.MemberViewModel

@{
    ViewBag.Title = "Details";
    var errors = TempData["Errors"] as string;
}

@if (!string.IsNullOrEmpty(errors))
{
    <div class="alert alert-danger">
        @errors
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.User.IsDeleted)
{
    <div class="alert alert-warning">Your profile is not publicly visible on the portal. This might be because you have membership fees outstanding.</div>
}

<div style="margin-top: 30px;">
    @{ Html.RenderPartial("_Tab", TabType.Details);}

    @using (Html.BeginForm("Save", "Details", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.User.Id)
        @Html.HiddenFor(m => m.User.WorkAddress.AddressId)
        @Html.HiddenFor(m => m.User.StreetAddress.AddressId)

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="details" style="padding-top: 15px;">
                @{ Html.RenderPartial("~/Views/Shared/Member/_Details.cshtml", Model);}
                <div class="col-xs-12 form-group">
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>
            </div>
        </div>
                    }
</div>

@section scripts{
    <script src="~/Scripts/app/shared/details.js"></script>
    <script src="~/Scripts/app/shared/locationFilters.js"></script>
}
