@{
    ViewBag.Title = "Registered";
}

<h3>Registered</h3>

<div class="row">
    <div class="col-md-8">
        <br />
        <p>
            Thank you for registering. You will receive an e-mail to confirm registration.  Please
            click on the link in the e-mail to complete registration.
        </p>

        <p>
            <strong>Important:</strong> you will only become visible on our portal once you have paid your registration fees.
        </p>
    </div>
</div>

