@model List<SATI.Entities.Skill>
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>

<table id="skillsTable" class="table table-condensed table-striped" style="width: 70%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.TextBoxFor(m => item.Name, new { @class = "form-control" })</td>
                <td>
                    <input data-save data-id="@item.SkillId" type="button" value="Update" class="btn btn-success" />
                    @Html.ActionLink("Delete", "Delete", new { id = item.SkillId }, new { @class = "btn btn-warning deleteBtn" })
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<div style="display: inline-block; margin-top: 30px;">
    @using (Html.BeginForm("Save", "Skills", FormMethod.Post))
    {
        <div class="form-group">
            <div style="display: inline-block">
                <label for="name" style="margin-right: 15px;">Skill</label>
                <input id="name" name="Name" type="text" class="form-control" />
            </div>
            <div style="display: inline-block">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('#skillsTable').on('click', '[data-save]', function () {
                var $row = $(this).closest('tr');
                var name = $row.find("#item_Name").val();
                var id = $(this).data('id');

                if (!name.length) {
                    alert('Please enter a Name before saving');
                    return false;
                }

                $.post('@Url.Action("Save", "Skills")', { SkillId: id, Name: name }, function() { window.location.reload()});
            });

        })
    </script>
}




